/target/
.classpath
.project
*.prefs
/target/
/bin/
/lib/
/docs/
kamtar-transport-api.iml
/.idea/*
.idea/libraries/*
/.idea/libraries/*
.idea/
.idea/*
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_24.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_24.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_24.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__io_springfox_springfox_core_2_8_0.xml
